.product{
    display:flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid green;
}
.name-details{
    margin-left: 5px;

}
.main-button{
    background-color: orange;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
.product-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
    